# Run a basic integration test

name: Integration Test
on:
  push:
    branches:
      - main
  pull_request:

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  CONFIGURATION: Release

defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5

      - run: dotnet build ActionsMinUtils.Sample --configuration ${{ env.CONFIGURATION }}

  test:
    runs-on: ubuntu-latest

    # Grant permissions to read profile
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: ActionsMinUtils.Sample
        uses: ./ActionsMinUtils.Sample/
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          name: 'Yoann'
